apiVersion: backup.gke.io/v1
kind: BackupPlan
metadata:
  name: todo-app-backup
  namespace: todo-app
spec:
  cluster: projects/smcghee-todo-p15n-38a6/locations/us-central1/clusters/todo-app-cluster
  retentionPolicy:
    backupRetainDays: 7
  backupSchedule:
    cronSchedule: "0 2 * * *" # 2 AM UTC
  backupConfig:
    allNamespaces: false
    selectedNamespaces:
      namespaces: ["todo-app"]
    includeSecrets: true
    includeVolumeData: true
